body {background-color:#A9A9A9;}
	background-image: https://orange-object.github.io/dude/;
}
	a{color:#3383ff}
	a: hover{color:#009dff}


body {
  margin: 40px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 40px;
  font-size: 150%;
}

.box:nth-child(even) {
  background-color: #ccc;
  color: #000;

}
.box:nth-child(odd) {
  background-color: #ccc;
  color: #000;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 400px);
  grid-template-rows: 400px 400px 400px;
  grid-auto-flow: column;
}
img .left https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjj_8LIjtTTAhUE5mMKHUOzAcgQjRwIBw&url=http%3A%2F%2Fwww.popularmechanics.com%2Fhome%2Flawn-garden%2Fhow-to%2Fg146%2Fbest-lawn-mower-reviews%2F&psig=AFQjCNGMakR1s0owGayOy49OykI1ooafMA&ust=1493914292054242
img .left1 http://img.sparknotes.com/content/sparklife/sparktalk/2013/whatifthesunwasgonebro_LargeWide.jpg
img .right http://beforeitsnews.com/contributor/upload/30080/images/moon-orbit.jpg
img .right1 http://www.theness.com/images/blogImages/moon2.jpg
